body {
	width: 400px;
    height: 60px;
}

.btn{
    padding: 5px 15px 5px 15px;
    margin: 3px;
    background: rgba(79, 60, 255, 0.664);
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    border-radius: 30px;
    display: inline-block;
}