header {
  background-color: rgb(50, 50, 50);
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: rgb(255, 255, 255);
}

header .intro-title {
  text-transform: uppercase;
  font-family: "Playfair Display",sans-serif;
  font-weight:bold;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 5px;
}

header .intro-overview .step{
  font-weight:bold;
  font-size: 10px;
  line-height: 6px;
  margin-bottom: 5px;
}

header .intro-overview .stepContent{
  font-size: 10px;
  line-height: 6px;
  margin-bottom: 10px;
}

.hide-step-btn {
  font-size: 10px;
  width: 120px;
  border-radius: 16px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  header {
      padding-top: 20px;
      padding-bottom: 8px;
  }

  header .intro-title {
    font-family: "Playfair Display",sans-serif;
    font-style: italic;
    font-size: 24px;
    line-height: 10px;
    margin-bottom: 20px;
}

  header .intro-overview .step{
      font-weight:bold;
      font-size: 12px;
      line-height: 6px;
      margin-bottom: 5px;
  }
  
  header .intro-overview .stepContent{
      font-size: 12px;
      line-height: 6px;
      margin-bottom: 12px;
  }
}

/* step1 */
.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  font-family: sans-serif, "Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, serif;
  text-decoration: underline;
  color: rgb(255, 255, 255);
  background-color: rgb(121, 123, 192);
}

.option-text {
  font-size: 12px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  vertical-align: 5%;
}

.result {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.subresult {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-decoration: underline;
}

.first-table{
width: 20%;
text-align: center;
}

.second-table{
width: 80%;
text-align: center;
}

.compare-info {
  border-radius: 5px;
  border-width: 3px ; 
  background-color: rgb(190, 190, 190);
  font-size: 16px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: rgb(65, 64, 64);
  height: 40px;
  line-height: 20px;
  padding: 10px 0px 10px 0px;
}

td font.before {
  background-color: rgb(201, 255, 169);
  color: black;
}

td font.after {
  background-color: rgb(252, 168, 135);
  color: black;
}